<%- include("partials/header"); -%>
<br>
<h1>About</h1>
<p><%= aboutContent %></p>
<ul>
    <li>Food Blogs</li>
    <li>ParentingBlogs</li>
    <li>Movie Blogs</li>
    <li>Shopping Blogs</li>
    <li>Business Blogs</li>
    <li>Art And Craft Blogs</li>
    <li>News Blogs</li>
    <li>Religion Blogs</li>
    <li>Political Blogs</li>
    <li>Entertainment Blogs</li>
    <li>Travel Blogs</li>
    <li>Health and Fitness Blogs</li>
    <li>Lifestyle Blogs</li>
    <li>Sports Blogs</li>
    <li>News Blogs</li>
    <li>Music Blogs</li>
    <li>Interior Design Blogs</li>
    <li>Finance Blogs</li>
    <li>Yoga Blogs</li>
    <li>Dancing Blogs</li>
    
</ul>
<%- include("partials/footer"); -%>
 