<%- include("partials/header"); -%>
<br>
<h1>Compose</h1>
<!-- <form class="" method="post" action="/compose" >
    <input type="text" name="postTitle">
    <button type="submit" name="button">Publish</button>
</form> -->
<form class="" method="post" action="/compose">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postBody"></textarea>
    </div>
    <br>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
    

</form>
<%- include("partials/footer"); -%>